/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */


/* BODY */
body, html {
    min-height: 100dvh;
}

body {
    background: 
    radial-gradient(circle at 20% 20%, var(--water-highlight-soft), transparent),
    radial-gradient(circle at 80% 80%, var(--water-deep-mid), transparent),
    /* var(--color-bg); */
    font-family 'Poppins', sans-serif;
}
