/*  Style for very small screens */
@media screen and (min-device-width : 320px) and (max-device-width : 480px)
/*/iphone5/ipad*/
    {
    .about-container {
        margin-top: 10vh;
        /* Adjust top margin on small screens */
    }

    #about-title,
    #were {
        text-align: center;
    }

    .img-author,
    #about-title a {
        font-weight: bold;
    }

    .img-author img {
        display: block;
        margin: auto;
        width: 50vw;
    }

    #about-title a {
        color: black !important;
    }

    #were {
        max-width: 90vw;
    }
}