@import "./menu_styles.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
    --black: var(--black)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    background: #fff;
}

.main-header {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;text-align: center;
    width: 100%;
    max-height: 33vh;
    border: 1px solid #000;
}

.Logo {
    padding: .3rem;
    margin-top: 2vh;
    margin-bottom: 4vh;
    max-width: 33vw;
    max-height: 25vh;
    background-color: aqua;
    border-radius: 45%;
}

#logo {
    padding: .1rem;
    margin: 15;
    max-width: 33vw;
    max-height: 25vh;
    border-radius: 45%;
    border: 3px solid #000;
    box-shadow: 10px 10px 10px rgba(45, 45, 75, .7);
}

.main-header h1 {
    max-width: 33vw;
    color: #54abfb;
}

/*  information and apologies section */

div .under-construction {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: auto;
    background-image: url("IMG/WEB_EN_CONSTRUCCION.jpg");
    background-repeat: no-repeat;
    text-align: center;
}

div img #under-construction {
    display: flex;
    grid-template-columns: auto auto;
    position: relative;
    margin: auto;
    width: 300px;
    height:  300px;
    
}

#apologies {
    margin: auto;

    text-align: center;
}



.title {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: gray;
    background-image: repeating-conic-gradient(pink 5%, lightblue 20%);
    background-blend-mode: difference;
    padding: 1em;
}

nav .water-menu-drop-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    float: right;
    flex-direction: column;
    margin: 30px;
    padding-right: 60px;
    margin-right: 0em;
    height: max-content;
    float: right;
    z-index: 60;
}

.button {
    padding: .2em;
    border: #000;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: column; */
    justify-content: space-around;
    align-items: stretch;
    border-radius: 10px;
    box-shadow: inset -10px -10px 10px rgba(0, 0, 0, .7), inset 10px 10px 10px rgba(255, 255, 255, .7);
    text-align: center;
    margin: 20px;
    width: auto;
    height: auto !important;
    font-family: "Raleway", sans-serif;
}

.skills-title h2 {
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: inset -10px -10px 10px rgba(0, 0, 0, .7),
        inset 10px 10px 10px rgba(255, 255, 255, .7);
    padding: 2vh;
    width: calc(100% - 40px);
    margin: 20px;
    text-align: center;

}

.frontend>#backend,
h4,
ul {
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: inset -10px -10px 10px rgba(0, 0, 0, .7), inset 10px 10px 10px rgba(255, 255, 255, .7);
    line-height: 1em;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #000;
    padding: 2vh 4vw;
    margin-bottom: 4%;
    /* max-width: 30vw; */
    list-style: none;
}

footer {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 20px;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    border: teal solid .2em;
    margin: 20px;
}

.redes-section,
.copyright-section,
.contact-section {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    margin-right: 20px;
    display: inline-block;
    flex-basis: 33.33%;

}

.copyright-section {
    margin-left: 10px;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#backToTopBtn:hover {
    background-color: #333;
}

#canvas {
    position: relative;
    width: 100%;
    height: 500px;
    z-index: 10;
}

.droplet,
.droplet1,
.droplet2,
.droplet3 {
    align-items: center;
    margin: 5px;
    padding: 10px;
}

.droplet {
    position: relative;
    right: 60px;
    background: #54abfb;
    height: 75px;
    width: 75px;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: .8;
    border: 2px solid #3d93ff;
    text-align: center;
}

.droplet::before {
    content: "";
    position: absolute;
    background: #318cef;
    height: 100%;
    width: 100%;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -10px 15px 8px #1b6cfb, -20px 30px 16px #1b6cfb,
        inset 3px 3px 5px #1b6cfb, inset 1px 3px 5px #1a74e5,
        inset 10px -10px 11px white, inset 20px -20px 22px #a8ceff;
}

.droplet::after {
    content: "";
    position: absolute;
    background: #e6fdfb;
    height: 10px;
    width: 10px;
    border-radius: 44% 56% 46% 54% / 26% 40% 50% 64%;
    left: 50px;
    top: 10px;
    box-shadow: 4px 15px 0 white;
    opacity: 0.8;
}

.droplet:hover,
.droplet1:hover,
.droplet2:hover,
.droplet3:hover {
    border-radius: 50% 30%;
    background-color: aqua;
    color: cadetblue;
}

.droplet1 {
    position: relative;
    left: 60px;
    background: #54abfb;
    height: 50px;
    width: 50px;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: 0.8;
    border: 2px solid #3d93ff;
}

.droplet1::before {
    content: "";
    position: absolute;
    background: #318cef;
    height: 100%;
    width: 100%;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -10px 15px 8px #1b6cfb, -20px 30px 16px #1b6cfb,
        inset -3px 3px 5px #1b6cfb, inset 1px 3px 5px #1a74e5,
        inset 10px -10px 11px white, inset 20px -20px 22px #a8ceff;
}

.droplet1::after {
    content: "";
    position: absolute;
    background: #e6fdfb;
    height: 10px;
    width: 10px;
    border-radius: 44% 56% 46% 54% / 30% 50% 50% 64%;
    left: 30px;
    top: 10px;
    box-shadow: 4px 12px 0 0.2px white;
    opacity: 0.8;
}

.droplet2 {
    position: relative;
    left: 60px;
    background: #54abfb;
    height: 50px;
    width: 50px;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: 0.8;
    border: 2px solid #3d93ff;
}

.droplet2::before {
    content: "";
    position: absolute;
    background: #318cef;
    height: 100%;
    width: 100%;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -10px 15px 8px #1b6cfb, -20px 30px 16px #1b6cfb,
        inset -3px 3px 5px #1b6cfb, inset 1px 3px 5px #1a74e5,
        inset 10px -10px 11px white, inset 20px -20px 22px #a8ceff;
}

.droplet2::after {
    content: "";
    position: absolute;
    background: #e6fdfb;
    height: 10px;
    width: 10px;
    border-radius: 44% 56% 46% 54% / 30% 50% 50% 64%;
    left: 30px;
    top: 10px;
    box-shadow: 4px 12px 0 0.2px white;
    opacity: 0.8;
}

.droplet3 {
    position: relative;
    left: 60px;
    background: #54abfb;
    height: 50px;
    width: 50px;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: 0.8;
    border: 2px solid #3d93ff;
}

.droplet3::before {
    content: "";
    position: absolute;
    background: #318cef;
    height: 100%;
    width: 100%;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -10px 15px 8px #1b6cfb, -20px 30px 16px #1b6cfb,
        inset -3px 3px 5px #1b6cfb, inset 1px 3px 5px #1a74e5,
        inset 10px -10px 11px white, inset 20px -20px 22px #a8ceff;
}

.droplet3::after {
    content: "";
    position: absolute;
    background: #e6fdfb;
    height: 10px;
    width: 10px;
    border-radius: 44% 56% 46% 54% / 30% 50% 50% 64%;
    left: 30px;
    top: 10px;
    box-shadow: 4px 12px 0 0.2px white;
    opacity: 0.8;
}

.contacto {
    position: absolute;
    inset: 30px 2.5px 3px;
    text-decoration: none;
    font-style: oblique;
    font-size: 60%;
}

#Main-Container {
    text-align: center;
    align-items: end;
    margin-top: 2em;
}

.portfolio {
    position: absolute;
    inset: 35px 10px;
    text-decoration: none;
    font-style: oblique;
    font-size: small;
}

#footer {
    background-image: repeating-linear-gradient(lightblue 15%, blue 10%, beige 70%);
    min-height: -moz-fit-content;
    min-height: fit-content;
    text-align: center;
    padding: 3px;

}