/* Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Variables globales */
:root {
  --primary-color: #54abfb; /* Color Primario */
}

/* Reset General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body y HTML */

body, html{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    background: #fff;
}



.Logo {
    padding: .3rem;
    margin-top: 2vh;
    margin-bottom: 4vh;
    max-width: 33vw;
    max-height: 25vh;
    background-color: aqua;
    border-radius: 45%;
}

#logo {
    padding: .1rem;
    margin: 15;
    max-width: 33vw;
    max-height: 25vh;
    border-radius: 45%;
    border: 3px solid #000;
    box-shadow: 10px 10px 10px rgba(45, 45, 75, .7);
}

.main-header h1 {
    max-width: 33vw;
    color: var(--primary-color);
}

/*  Contenedor de la Sección construcción */

#under-construction-title{
    font-size: 6vw;
    margin: 10px;
    background-image: linear-gradient(to right, blue, rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradientAnimation 5s ease-in-out infinite forwards;
}
.img-under-construction-container{
    width: 900px;
    filter: drop-shadow(0 2px 5px rgba(0,0,0,0.8));
}

.under-construction {
    position: relative;
    width: 40%;
    height:  40%;
    
}

#apologies {
    margin: 0 30%;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: column; */
    justify-content: space-around;
    align-items: stretch;
    border-radius: 10px;
    box-shadow: inset -10px -10px 10px rgba(0, 0, 0, .7), inset 10px 10px 10px rgba(255, 255, 255, .7);
    text-align: center;
    margin: 20px;
    width: auto;
    height: auto !important;
    font-family: "Raleway", sans-serif;
}

.skills-title h2 {
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: inset -10px -10px 10px rgba(0, 0, 0, .7),
        inset 10px 10px 10px rgba(255, 255, 255, .7);
    padding: 2vh;
    width: calc(100% - 40px);
    margin: 20px;
    text-align: center;

}

.frontend>#backend,
h4,
ul {
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: inset -10px -10px 10px rgba(0, 0, 0, .7), inset 10px 10px 10px rgba(255, 255, 255, .7);
    line-height: 1em;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #000;
    padding: 2vh 4vw;
    margin-bottom: 4%;
    /* max-width: 30vw; */
    list-style: none;
}

footer {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 20px;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    border: teal solid .2em;
    margin: 20px;
}









#canvas {
    position: relative;
    width: 100%;
    height: 500px;
    z-index: 10;
}



.contacto {
    position: absolute;
    inset: 30px 2.5px 3px;
    text-decoration: none;
    font-style: oblique;
    font-size: 60%;
}


.portfolio {
    position: absolute;
    inset: 35px 10px;
    text-decoration: none;
    font-style: oblique;
    font-size: small;
}

footer {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 20px;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    border: teal solid .2em;
    margin: 20px;
}

.redes-section,
.copyright-section,
.contact-section {
    border-right: 1px solid #ccc;
    padding-right: 20px;
    margin-right: 20px;
    display: inline-block;
    flex-basis: 33.33%;

}




.copyright-section {
    margin-left: 10px;
}

