*{
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.message {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    display:inline ;
    z-index: 10;
}

.pill-container {
    display: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    max-width: 600px;
    z-index: 5;
}

.pill-blue{
    background-color: blue;
    color: #fff;
    padding: 2%;
    border-radius: 20px;
    cursor: pointer;
    display: none;  
}

.pill-red{
    background-color: red;
    color: #fff;
    padding: 2%;
    border-radius: 20px;
    cursor: pointer;
    display: none;
}