<footer>

    <div class="redes-section">
        <h2>Connect</h2>

        <a rel="noopener" id="twitter" href="https://twitter.com/daviddelapuent5" target="_blank"
            role="button">Twitter<i class="fab fa-twitter fa-lg"></i></a>
        <a rel="noopener" href="https://www.linkedin.com/in/daviddelapuente/" id="linkedin" target="_blank"><i
                class="fab fa-linkedin-in fa-2x"></i>Linkedin</a>
    </div>

    <div class="copyright-section">
        <p>© 2024 David de la Puente | Designed with HTML, CSS and JavaScript</p>
    </div>
</footer>