<footer class="footer">
    <div class="footer__container">
        <div class="footer__section footer__social">
            <h4>Social</h4>
            <ul>
                <li><a rel="noopener" href="https://www.linkedin.com/in/daviddelapuente/" id="linkedin"
                        target="_blank"><img src="../IMG/ICONOS/linkedin-svg.svg" alt="LinkedIn"></a></li>
                <li><a rel="noopener" id="github" href="https://github.com/Twinkym" target="_blank" role="button"><img src="../IMG/ICONOS/github-octocat-svg.svg" alt="GitHub"></a></li>
            </ul>
        </div>
        <div class="footer__section footer__contact">
            <h4>Contact</h4>
            <a class="footer__mail" href="mailto:Contact@kdtech.dev">📧 Contact@kdtech.dev</a>
        </div>
    </div>
    <div class="footer__bottom">
        <p>© 2024 KDTech Engineering - Be a Bird</p>
    </div>
    <div class="footer__back-to-top">
        <button id="backToTopBtn" class="back-to-top" aria-label="Back to top">Top</button>
    </div>
</footer>