<section class="tech-experience">
            <h2 class="section-title">Tech Experience</h2>

            <div class="tech-block">
                <h3>Front-End</h3>
                <ul>
                    <li><img src="./IMG/ICONOS/icons8-html5.svg" alt="HTML5"></li>
                    <li><img src="./IMG/ICONOS/icons8-css3.svg" alt="CSS3"></li>
                    <li><img src="./IMG/ICONOS/icons8-js.svg" alt="JavaScript"></li>
                    <li><img src="./IMG/ICONOS/icons8-jquery.svg" alt="jQuery"></li>
                </ul>
            </div>
            <div class="tech-block">
                <h3>Back-End</h3>
                <ul>
                    <li><img src="./IMG/ICONOS/icons8-nodo-js.svg" alt="NodeJS Icon"></li>
                    <li><img src="./IMG/ICONOS/icons8-c-sharp-logotipo.svg" alt="C# Icon"></li>
                    <li><img src="./IMG/ICONOS/python-3d-icon-transparent-background-free-png.webp" alt="Python Icon">
                    </li>
                    <li><img src="./IMG/ICONOS/green-leaf-3d-green-leaf-icon-green-leaf-design-free-png.png"
                            alt="MongoDB Icon"></li>
                    <li><img src="./IMG/ICONOS/powered-by-mysql-125x64.png" alt="MySQL Icon"></li>
                    <li><img src="./IMG/ICONOS/3d-file-sql-icon-illustration-png.png" alt="SQL Icon"></li>
                    <li><img src="./IMG/ICONOS/fashionable-and-anthropomorphic-elephant-character-in-studio-setting-free-png.png"
                            alt="Postgres Icon"></li>
                    <li><img src="./IMG/ICONOS/vecteezy_java-programming-language-3d-icon-transparent-background_60194949.png"
                            alt="Java Icon"></li>
                    <li><img src="./IMG/ICONOS/vecteezy_php-programming-language-3d-icon-transparent-background_60194947.png"
                            alt="PHP Icon"></li>
                </ul>
            </div>

            <div class="tech-block">
                <h3>Frameworks and Libraries</h3>
                <ul>
                    <li><img src="./IMG/ICONOS/icons8-oreja.svg" alt="Bootstrap Icon"></li>
                    <li><img src="./IMG/ICONOS/icons8-hablar-con-descaro-a.svg" alt="Sass Icon"></li>
                    <li><img src="./IMG/ICONOS/icons8-reaccionar-nativo.svg" alt="React Icon"></li>
                </ul>
            </div>
            <div class="tech-block">
                <h3>Game Engines</h3>
                <ul>
                    <li><img src="./IMG/ICONOS/icons8-unidad.svg" alt="Unity"></li>
                </ul>
            </div>
        </section>