/* layout/_sections.scss */

section {
  padding: var(--spacing-lg);
}

.section-title {
  font-size: 2rem;
  margin-bottom: var(--spacing-md);
}

#about-preview {
    display: flex;
    justify-content: center;
    padding: 8rem 2rem;
    min-height: 100dvh;
}